<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * ServeStream: A HTTP stream browser/player for Android
 * Copyright 2014 William Seemann
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.sourceforge.servestream"
	android:versionName="0.7.0"
	android:versionCode="105"
	android:installLocation="auto" >

	<uses-sdk
	    android:targetSdkVersion="20"
	    android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!-- In-app billing permission  -->
	<uses-permission android:name="com.android.vending.BILLING" />
	
	<application
	    android:name="net.sourceforge.servestream.ServeStreamApp"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:allowBackup="true"
		android:backupAgent=".service.BackupAgent"
		android:killAfterRestore="true"
		android:theme="@style/Theme.ServeStream.DarkActionBar" >

		<meta-data
		    android:name="com.google.android.backup.api_key"
    		android:value="AEdPqrEAAAAIWcqt9c_ET5W0EpBB9ZCQGbBhfrOetXL6t6Cdwg" />

        <provider
            android:name=".provider.MediaProvider"
            android:authorities="net.sourceforge.servestream.provider.Media"
            android:exported="false" />
        
        <provider
            android:name=".alarm.AlarmProvider"
            android:authorities="net.sourceforge.servestream"
            android:exported="false" />

		<activity
		    android:name=".activity.MainActivity"
		    android:launchMode="singleTop" >
		    
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="net.sourceforge.servestream/*" />
			</intent-filter>
			<intent-filter>
  				<action android:name="android.intent.action.SEND" />
  				<category android:name="android.intent.category.DEFAULT" />
  				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:host="*" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="video/*" />
				<data android:mimeType="audio/x-mpegurl" />
        		<data android:mimeType="audio/x-scpls" />
        		<data android:mimeType="video/x-ms-asf" />
        		<data android:mimeType="application/xspf+xml" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:host="*" />
				<data android:pathPattern=".*\\.m3u" />
				<data android:pathPattern=".*\\.pls" />
				<data android:pathPattern=".*\\.asx" />
			    <data android:pathPattern=".*\\.xspf" />
			</intent-filter>
			<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="file" />
        		<data android:mimeType="audio/x-mpegurl" />
        		<data android:mimeType="audio/x-scpls" />
        		<data android:mimeType="video/x-ms-asf" />
        		<data android:mimeType="application/xspf+xml" />
    		</intent-filter>
    		<meta-data
	            android:name="android.app.default_searchable"
                android:value=".activity.SearchableActivity" />
		</activity>

		<activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_pref" />
        
		<activity
            android:name=".activity.AddUrlActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/add_new_url_label"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop" >
    		
		    <intent-filter>
  				<action android:name="android.intent.action.SEND" />
  				<category android:name="android.intent.category.DEFAULT" />
  				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:host="*" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="video/*" />
				<data android:mimeType="audio/x-mpegurl" />
        		<data android:mimeType="audio/x-scpls" />
        		<data android:mimeType="video/x-ms-asf" />
        		<data android:mimeType="application/xspf+xml" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:host="*" />
				<data android:pathPattern=".*\\.m3u" />
				<data android:pathPattern=".*\\.pls" />
				<data android:pathPattern=".*\\.asx" />
			    <data android:pathPattern=".*\\.xspf" />
			</intent-filter>
			<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="file" />
        		<data android:mimeType="audio/x-mpegurl" />
        		<data android:mimeType="audio/x-scpls" />
        		<data android:mimeType="video/x-ms-asf" />
        		<data android:mimeType="application/xspf+xml" />
    		</intent-filter>
		</activity>
        
		<activity
            android:name=".activity.BluetoothOptionsActivity"
            android:label="@string/pref_bluetooth_options" />

		<activity
		    android:name=".activity.NowPlayingActivity"
			android:label="@string/now_playing_label" />
		
		<activity
		    android:name=".activity.SearchableActivity"
		    android:launchMode="singleTop" >
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data
        	    android:name="android.app.searchable"
                android:resource="@xml/searchable" />
    	</activity>
		
		
		<activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings_label" />
        
		<activity
		    android:name=".activity.ShortcutActivity" >
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity
		    android:name=".activity.UriEditorActivity" />

		<service
		    android:name=".service.MediaPlaybackService"
			android:description="@string/media_service_desc" />

        <activity
            android:name=".activity.MediaPlayerActivity"
            android:label="@string/media_player_label"
            android:launchMode="singleTop"
            android:exported="false" >
            <intent-filter>
                <action android:name="net.sourceforge.servestream.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="net.sourceforge.servestream.activity.MainActivity" />
        </activity>
        
        <receiver
            android:name=".receiver.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".service.AppWidgetOneProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_one" />
        </receiver>

        <receiver
            android:name=".receiver.SimpleLastfmScrobblerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="net.sourceforge.servestream.playbackstarted" />
                <action android:name="net.sourceforge.servestream.playstatechanged" />
                <action android:name="net.sourceforge.servestream.playbackcomplete" />
                <action android:name="net.sourceforge.servestream.metachanged" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".receiver.ScrobbleDroidReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="net.sourceforge.servestream.playbackstarted" />
                <action android:name="net.sourceforge.servestream.playstatechanged" />
                <action android:name="net.sourceforge.servestream.playbackcomplete" />
                <action android:name="net.sourceforge.servestream.metachanged" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".receiver.BluetoothReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        
		<!-- Alarm Activities -->

        <activity
            android:name=".activity.AlarmClockActivity"
            android:label="@string/alarm_clock_label"
            android:excludeFromRecents="true"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:exported="false" />

        <activity
            android:name=".activity.SetAlarmActivity"
            android:label="@string/set_alarm_label"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation" />
                
        <activity
            android:name=".alarm.AlarmAlert"
        	android:excludeFromRecents="true"
        	android:launchMode="singleInstance"
        	android:taskAffinity=""
       		android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <!-- This activity is basically the same as AlarmAlert but with a more
             generic theme. It also shows as full screen (with status bar) but
             with the wallpaper background. -->
        <activity
            android:name=".alarm.AlarmAlertFullScreen"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="net.sourceforge.servestream.ALARM_ALERT" />
                <action android:name="net.sourceforge.servestream.ALARM_KILLED" />
                <action android:name="net.sourceforge.servestream.CANCEL_SNOOZE" />
            </intent-filter>
        </receiver>

        <!-- This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlert activity to pause. -->
        <service
            android:name=".alarm.AlarmKlaxon"
			android:description="@string/alarm_klaxon_service_desc"
			android:exported="false" >                
            <intent-filter>
                <action android:name="net.sourceforge.servestream.ALARM_ALERT" />
            </intent-filter>
        </service>

		<!-- End Alarm Activities -->

	</application>

</manifest>
