<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * ServeStream: A HTTP stream browser/player for Android
 * Copyright 2010 William Seemann
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.sourceforge.servestream"
	android:versionName="0.4.10"
	android:versionCode="60"
	android:installLocation="auto">

	<uses-sdk android:targetSdkVersion="15" android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:description="@string/app_desc"
		android:allowBackup="true"
		android:backupAgent=".service.BackupAgent"
		android:killAfterRestore="true">

		<meta-data android:name="com.google.android.backup.api_key"
    		android:value="AEdPqrEAAAAIWcqt9c_ET5W0EpBB9ZCQGbBhfrOetXL6t6Cdwg" />

        <receiver android:name=".service.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <provider android:name=".provider.MediaProvider"
            android:authorities="net.sourceforge.servestream.provider.Media" />
        
        <provider android:name=".alarm.AlarmProvider"
                android:authorities="net.sourceforge.servestream"
                android:exported="false" />

		<activity android:name=".activity.URLListActivity"
		    android:launchMode="singleTop" >
		    
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
  				<action android:name="android.intent.action.SEND" />
  				<category android:name="android.intent.category.DEFAULT" />
  				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="net.sourceforge.servestream/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:host="*" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="video/*"/>
			</intent-filter>
			<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="file" />
        		<data android:mimeType="audio/x-mpegurl" />
        		<data android:mimeType="audio/x-scpls" />
        		<data android:mimeType="video/x-ms-asf" />
    		</intent-filter>			
		</activity>

		<activity android:name=".activity.BrowserActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.HelpActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.HelpTopicActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.MinuteSelector" android:theme="@android:style/Theme.Dialog" android:exported="false" />
		<activity android:name=".activity.NowPlayingActivity" android:exported="false" />
		<activity android:name=".activity.SettingsActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.StreamEditorActivity" android:configChanges="keyboardHidden|orientation" />

		<service android:name=".service.MediaPlaybackService"
			android:configChanges="keyboardHidden|orientation"
			android:description="@string/media_service_desc" />

        <activity android:name=".activity.MediaPlaybackActivity"
                android:configChanges="keyboardHidden|orientation"
                android:taskAffinity=""
                android:launchMode="singleTop"
                android:clearTaskOnLaunch="true"
                android:excludeFromRecents="true"
                android:exported="true" >
            <intent-filter>
                <action android:name="net.sourceforge.servestream.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".widget.ServeStreamAppWidgetOneProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_one" />
        </receiver>

		<!-- Alarm Activities -->

        <activity android:name=".activity.AlarmClockActivity"
                android:label="@string/alarm_list_title"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"
                android:exported="true" />

        <activity android:name=".activity.SetAlarmActivity" android:label="@string/set_alarm"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation" />
                
        <activity android:name=".alarm.AlarmAlert"
                android:excludeFromRecents="true"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <!-- This activity is basically the same as AlarmAlert but with a more
             generic theme. It also shows as full screen (with status bar) but
             with the wallpaper background. -->
        <activity android:name=".alarm.AlarmAlertFullScreen"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <receiver android:name=".alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="net.sourceforge.servestream.ALARM_ALERT" />
                <action android:name="net.sourceforge.servestream.ALARM_KILLED" />
                <action android:name="net.sourceforge.servestream.CANCEL_SNOOZE" />
            </intent-filter>
        </receiver>

        <!-- This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlert activity to pause. -->
        <service android:name=".alarm.AlarmKlaxon"
			android:description="@string/alarm_klaxon_service_desc">
                
            <intent-filter>
                <action android:name="net.sourceforge.servestream.ALARM_ALERT" />
            </intent-filter>
        </service>

		<!-- End Alarm Activities -->

	</application>

</manifest>
